
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/catch2"]
	path = tests/lib/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/mdlp"]
	path = tests/lib/mdlp
	url = https://github.com/rmontanana/mdlp
[submodule "tests/lib/Files"]
	path = tests/lib/Files
	url = https://github.com/rmontanana/ArffFiles
